.modal-backdrop.in {
  opacity: 0.8;
}
//modal style
.modal-view {
  position: fixed;
  top: 20vh;

  .modal-dialog {
    min-width: 50%;
  }
  .modal-content {
    box-shadow: none !important;
    border-radius: 0px !important;
  }
  .modal-body {
    padding: 0px;
    .modal-con-wrapper {
      padding: 30px;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }
      .list-unstyled {
        padding: 15px 0px;
        .small-prop {
          color: $secondary-color;
          font-family: "Open Sans", sans-serif;
        }
        .big-prop {
          font-size: 32px;
        }
      }
      p {
        font-size: 16px;
        line-height: 30px;
      }
      .btn-outline-primary {
        margin-top: 40px;
        span {
          img {
            width: 18%;
            height: 18%;
          }
        }
      }
    }
  }
  .embed-responsive-100x200px {
    padding-bottom: 700px;
  }
}
