.custom-navbar {
  background: $white-color;
  border: none;
  border-bottom: 1px solid $border-color;
  height: auto;
  padding: 25px 0px;
  margin-bottom: 0px;
  .list-inline {
    li {
      a {
        color: $text-color;
        font-size: 18px;
        font-weight: 400;
        padding: 0px 40px 0px 0px;
        text-decoration: none;
        transition: 0.8s ease-in;
        span {
          padding-right: 20px;
        }
      }
    }
    .logo {
      a {
        font-size: 22px;
        color: $secondary-color;
        strong {
          color: $text-color;
        }
      }
    }
  }
}
